In [53]:
data = open('checkins.dat').read().split('\n')

In [54]:
print data[:10]

['   id    | user_id | venue_id |     latitude      |     longitude     |     created_at      ', '---------+---------+----------+-------------------+-------------------+---------------------', '  984301 | 2041916 |     5222 |                   |                   | 2012-04-21 17:39:01', '  984222 |   15824 |     5222 |        38.8951118 |       -77.0363658 | 2012-04-21 17:43:47', '  984315 | 1764391 |     5222 |                   |                   | 2012-04-21 17:37:18', '  984234 |   44652 |     5222 |         33.800745 |         -84.41052 | 2012-04-21 17:43:43', '  984249 | 2146840 |     5222 |                   |                   | 2012-04-21 17:42:58', '  984268 | 2146843 |     5222 |                   |                   | 2012-04-21 17:42:38', '  984281 | 2146846 |     5222 |                   |                   | 2012-04-21 17:39:40', '  984291 |  105054 |     5222 |        45.5234515 |      -122.6762071 | 2012-04-21 17:39:22']

In [18]:
splitData = map(lambda x: x.split('|'), data)

In [19]:
print splitData[:10]

[['   id    ', ' user_id ', ' venue_id ', '     latitude      ', '     longitude     ', '     created_at      '], ['---------+---------+----------+-------------------+-------------------+---------------------'], ['  984301 ', ' 2041916 ', '     5222 ', '                   ', '                   ', ' 2012-04-21 17:39:01'], ['  984222 ', '   15824 ', '     5222 ', '        38.8951118 ', '       -77.0363658 ', ' 2012-04-21 17:43:47'], ['  984315 ', ' 1764391 ', '     5222 ', '                   ', '                   ', ' 2012-04-21 17:37:18'], ['  984234 ', '   44652 ', '     5222 ', '         33.800745 ', '         -84.41052 ', ' 2012-04-21 17:43:43'], ['  984249 ', ' 2146840 ', '     5222 ', '                   ', '                   ', ' 2012-04-21 17:42:58'], ['  984268 ', ' 2146843 ', '     5222 ', '                   ', '                   ', ' 2012-04-21 17:42:38'], ['  984281 ', ' 2146846 ', '     5222 ', '                   ', '                   ', ' 2012-04-21 17:39:40'], ['  984291 ', '  105054 ', '     5222 ', '        45.5234515 ', '      -122.6762071 ', ' 2012-04-21 17:39:22']]

In [20]:
pureData = map(lambda x: [t.replace(' ','') for t in x], splitData)

In [21]:
pureData.remove(pureData[1])

In [22]:
print len(pureData)

1021970

In [23]:
import pandas as pd

In [26]:
tableData = pd.DataFrame(pureData[1:], columns = pureData[0])

In [27]:
print tableData[:10]

       id  user_id venue_id    latitude     longitude          created_at
0  984301  2041916     5222                            2012-04-2117:39:01
1  984222    15824     5222  38.8951118   -77.0363658  2012-04-2117:43:47
2  984315  1764391     5222                            2012-04-2117:37:18
3  984234    44652     5222   33.800745     -84.41052  2012-04-2117:43:43
4  984249  2146840     5222                            2012-04-2117:42:58
5  984268  2146843     5222                            2012-04-2117:42:38
6  984281  2146846     5222                            2012-04-2117:39:40
7  984291   105054     5222  45.5234515  -122.6762071  2012-04-2117:39:22
8    6651  1338710   219703                            2011-12-0823:11:23
9  984318  2146539     5222   40.764462   -111.904565  2012-04-2117:35:46

In [29]:
tableData = tableData[tableData.latitude != '']

In [30]:
print len(tableData)

396637

In [31]:
tableData = tableData[tableData.longitude != '']
print len(tableData)

396637

In [41]:
Data_test = tableData[:100000]
Data_test = Data_test[['latitude','longitude']]

In [42]:
from sklearn import cluster
MS = cluster.MeanShift(bandwidth = 0.1)

In [48]:
result = MS.fit(Data_test, y = None)

In [52]:
len(result.cluster_centers_)

3229

In [46]:
centers = result.cluster_centers_[n_features >= 15]

NameError: name 'n_features' is not defined